
@{
    ViewData["Title"] = "Authentication";
}

<div class="container">
    <div class="row justify-content-center py-5">
        <div class="col-md-4">
            <div class="mb-3 text-center">
                <img src="~/logo/user-login.svg" class="img-fluid" alt="...">
            </div>
            <div class="card shadow">
                <div class="card-body">
                    <form id="Add" method="post">
                        <div class="mb-2">
                            <label for="exampleInputEmail1" class="form-label">ชื่อล็อกอิน</label>
                            <input type="text" class="form-control" id="userlogin" name="userlogin" aria-describedby="userHelp" placeholder="Username">
                        </div>
                        <div class="mb-2">
                            <label for="exampleInputPassword1" class="form-label">รหัสผ่าน</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">ล็อกอิน</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


