
@{
    ViewData["Title"] = "Authentication";
}

 
    <div class="row justify-content-center py-5">
        <div class="col-md-4"> 
            <div class="card shadow">
                <div class="card-body">
                    <div class="mb-3 text-center">
                        <img src="~/logo/user-login.svg" class="img-fluid" alt="...">
                    </div>
                    <hr/>
                    <div id="alert"></div>
                    <form id="loginForm" method="post" >
                        <div class="mb-2">
                            <label for="userlogin" class="form-label">ชื่อล็อกอิน</label>
                            <input type="text" class="form-control" id="userlogin" name="userLogin" aria-describedby="userHelp" placeholder="Username">
                        </div>
                        <div class="mb-2">
                            <label for="password" class="form-label">รหัสผ่าน</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="loginButton" class="btn btn-primary">ล็อกอิน</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
  

<script type="text/javascript">
    var loginUrl = '@Url.Action("Login", "Auth")';
    var redirectUrl = '@Url.Action("Index", "Users")'; 
</script>
<script src="~/script/Auth.js" asp-append-version="true"></script>