@model IEnumerable<EffectiveUsers.Models.Users>

@{
    ViewData["Title"] = "Home Page";
}

@foreach(var user in Model)

{
    <p>รหัสพนักงาน: @user.Id</p>
    <p>ชื่อ: @user.LastName</p>
    <p>รหัสผ่าน: @user.Password</p>

} 

 