
@{
    ViewData["Title"] = "Chart แสดงจำนวนพนักงานทั้งหมด";
}

 
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4>Chart จำนวนพนักงานแต่ละแผนก</h4>
                <hr/>
                <canvas id="Users" style="height:10% "></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4>Chart จำนวนพนักงานแต่ละแผนก ที่ลาออก</h4>
                <hr />
                <canvas id="resign" style="height:10% "></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    var UrlChartResign = '@Url.Action("GetChartData", "Users")'; 
</script>
<script src="~/script/ChartUsers.js" asp-append-version="true"></script>

